@tailwind base;
@tailwind components;
@tailwind utilities;

.grad {
  background-image: linear-gradient(to right, #ffbf69, #99733f);
}

body {
  background-color: #000;
  height: 100vh;
}

#root {
  height: 100%;
}
